body{
	background: #f9f9f9;
	font-family: "微软雅黑";
}
.all{
	width: 1200px;
	margin:0 auto;
}
.cl:after{
	content: '';
	display: block;
	clear: both;
}
.top{
	width: 1200px;
	margin: 0 auto;
	margin-top: 27px;
	margin-bottom: 21px;
}
.t{
	border-bottom: 1px solid #ebe5e9;
}
.top img{
	float: left;
}
.top ul{
	float: right;
	line-height: 50px;
}
.top ul li{
	float: right;
}
.top ul li a{
	margin-left: 5px;
	margin-right: 5px;
	color: black;
}
.login{
	width: 400px;
	margin: 54px auto;
}
.login p{
	width: 365px;
	padding-left: 35px;
	background: url(../images/login_head.png) no-repeat 1px 1px;
	line-height: 22px;
	font-size: 18px;
	font-weight: bold;
}
.login input[type=text]{
	margin-top: 19px;
	padding-left: 20px;
	width: 378px;
	height: 39px;
	border: 1px solid #e8e8e8;
}
.login button:nth-of-type(1){
	width:400px;
	height: 50px;
	background: #f59f26;
	color: white;
	font: 18px "微软雅黑";
	margin-top: 37px;
}
.login div{
	width: 13px;
	height: 13px;
	background: #efefef;
	border: 1px solid #d3d2d7;
}
.login div,.login span:nth-of-type(1){
	float: left;
	margin-top: 23px;
} 
.login a{
	margin-top: 23px;
	float: right;
	color: #44ade3;
}
.login button:nth-of-type(2),.login button:nth-of-type(3),.login span:nth-of-type(2){
	margin-top: 51px;
}
.login button:nth-of-type(2),.login button:nth-of-type(3){
	width:85px;
	line-height: 30px;
	padding-left: 28px;
	font-size: 13px;
}
.login button:nth-of-type(2){
	background: url(../images/login_weixin.png) no-repeat 6px 6px #fafafc;
	border: 1px solid #cbcccc;
}
.login button:nth-of-type(3){
	background: url(../images/login_qq.png) no-repeat 12px 6px #fafafc;
	border: 1px solid #cbcccc;
}
.bottom{
	margin-top: 62px;
	padding-top: 38px;
	padding-bottom: 34px; 
	background: white;
}
.bottom div{
	float: left;

}
.bottom .bottom1{
	margin-right: 140px;
	padding-left: 60px;
}
.bottom div:last-child{
	width: 500px;
}
.bottom ul li{
	float: left;

}
.bottom ul li a{
	margin-left: 20px;
	margin-right: 15px;
}
.bottom ul li:first-child a{
	margin-left: 0px;
}
.bottom  p{
	margin-top: 14px;
}
.bottom div:first-child p:last-child{
	padding-left: 26px;
	background: url(../images/bottom_log.png) no-repeat;
}
.bottom div:last-child img,.bottom div:last-child p,.bottom div:last-child a{
	float: left;
}
.bottom div:last-child p,.bottom div:last-child a{
	margin-left: 24px;
	margin-top:16px;
}
.bottom div:last-child div{
	width: 230px;
}